.menu{
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    
}

.menu li{
   list-style: none;
   padding-right: 80px;
   font-size:1.35rem;
}

.menu-bar{
    margin-top: 0;
      position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #f1f1f2;
  z-index: 1000;

}

.hdr-link{
    text-decoration: none;
    color:#22361e;
    font-size: 1.2rem;
    cursor: pointer;
    padding: 6px;
  
  }

  .active{
    color:#6c63ff;
    font-weight: 500;
  }

  .inactive{
    color:#22361e;
  }