.card-con{
    display: flex;
    gap:50px
}



.progress-con-card{
    min-width: 250px;
    max-width: 250px;
    border: 1px solid rgb(255, 255, 255);
}

.progress-con-card:hover{
    border: 2px solid rgb(255, 255, 255);
    background-color: #8989f9;
}

.skill-con-out{
    padding: 25px 25px;
    display: flex;
    align-items: center;
    justify-self: center;
    gap: 10px;
}

.img-skill{
    height: 50px;
    width: 50px;
    border-radius: 2px;
    border: 2px solid #fff;
}

.img-skill img{
    height: 100%;
    width: 100%;
    border-radius: 1px;


}

.skill-subtext{
    font-size: 12px;
    color: #ffffff;
}

.skill-maintext{
    font-weight: 700;
    color: #ffffff;

}

.ant-rate{
    font-size: 15px !important;
}