.stack-con{
    background-color: #6c63ff;
    display: flex;
}


.title-1{
    margin: 0;
    text-align: left;
    padding-top: 20px;
    margin-left: 40px;
    font-size: 5rem;
    color: #f1f1f2 ;
}



  .skill-con{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    /* align-items: center; */
    flex-wrap: wrap;
    margin: 40px;
    gap: 40px;
   
  }