.stack-con{
    background-color: #265EB8;
    display: flex;
}

/* .vertical-subcon{
  width: 80px;
  background-color: #DFDE2F;
} */



.title-1{
    margin: 0;
    text-align: left;
    padding-top: 20px;
    margin-left: 40px;
    font-size: 5rem;
    color: #f1f1f2 ;
}



  .skill-con{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    /* align-items: center; */
    flex-wrap: wrap;
    margin: 40px;
    gap: 30px;
   
  }